html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background: rgb(118,222,165);
  background: linear-gradient(189deg, rgba(118,222,165,1) 0%, rgba(247,251,180,1) 50%, rgba(252,176,69,1) 100%);
}

.joinInnerContainer {
  width: 20%;
}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}

.heading {
  color: rgb(2, 2, 2);
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #0d1f3f;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }


}

button:focus {
  outline: 0;
}